html, body{
    height: 100%;
    min-width: 900px;
}

body {
	background-image: url("../img/bgr.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

.bgs {
    background: url("../img/p.png");
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.container-fluid {
    z-index: 2;
    position: relative;
}

.testimonials .bgs { height: 950%; }

@media (max-width: 1270px) {
    .bgs { height: 240%; }
}

.vidcon { position: relative; }

#vid {
    left: 37.3%;
    margin-top: 4.3%;
    position: absolute;
    width: 24.7%;
}

#gif {
    left: 37.3%;
    margin-top: 4.3%;
    position: absolute;
}

h1 a:link, h1 a:visited, h1 a:hover, h1 a:active{ text-decoration: none; color:inherit; }

.title h1 {
    color: #ffffff;
    text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 4em;
}
@media (min-width: 970px) {
    .title h1 {
        font-size: 5em;
    }
}
.title h2 {
    color: #000000;
    text-shadow: 2px 2px 0 #ffffff, -1px -1px 0 #ffffff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #ffffff;
    margin-top: 0;
}
.title {
    padding: 1% 0 0 5%;
    font-family: Coustard,monospace;
}

.flexcon {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
@media (max-width: 570px) {
    .flexcon { flex-direction: column; align-items: flex-start; }
}

.box {
    background-color: rgba(255, 255, 255, 0.66);
    padding: 2%;
    width: 24%;
    margin: 5% 0 2% 4.5%;
    font-family: "PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#welcome {
    width: 24%;
}

@media (max-width: 970px) {
    #welcome, .content { margin: 2% 0 2% 4.5%; }
}

html.testimonials, body.testimonials {
    min-width: auto;
}

.content {
    width: 87%;
    max-width: 870px;
    box-sizing: content-box;
}

.content img {
    width: 100%;
    max-width: 870px;
}

.white { color: #ffffff; }
.big{  font-size: 2em; }

.hireme { padding: 5% 0 0 20%; }
@media (max-width: 970px) {
    #hire-big { display: none; }
}
@media (min-width: 970px) {
    #hire-small { display: none; }
}

.breathe {
    padding: 1em 0;
}

.strip-top {
    margin-top: 0;
    padding-top: 0;
}

.payments form {
    text-align: center;
}

.spin {
    animation: spin 500ms linear infinite;
    display: inline-block;
    margin-left: 7px;
}

@keyframes spin {
    25% { transform: rotate(90deg); }
    50% { transform: rotate(180deg); }
    75% { transform: rotate(270deg); }
    100% { transform: rotate(360deg); }
}